<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FileZillaSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=DESKTOP-401OUEF\SQLEXPRESS;Initial Catalog=ApplicationDb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>
  
  <FileZillaSettings>
    <add key="host" value="192.168.1.10" />
    <add key="port" value="21" />
    <add key="user" value="tung-thanh.nguyen" />
    <add key="pass" value="12345678" />
  </FileZillaSettings>

  <appSettings>
    <add key="StandardDeliveryFee" value="20000" />
    <add key="FreeShipNorm" value="300000" />
    <add key="CommissionPercentage" value="60" />
  </appSettings>
</configuration>